@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/styles/dark-state.css";
@import "./assets/styles/header.css";
@import "./assets/styles/section.css";
@import "./assets/styles/filters.css";
@import "./assets/styles/footer.css";

body {
    margin: 0;
}

* {
    font-family: comfortaa Medium;
    font-weight: 600;
}

.app {
    display: grid;
    min-height: 100vh;
    height: 100% !important;
    grid-template-rows: 33vh 33vh 34vh;
    background-color: whitesmoke;
}

.back-image {
    grid-row: 1 / 2;
    background-image: url('./assets/images/3530.jpg');
    background-position: center;
    background-size: cover;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 0;
}

.back-gradient {
    height: 100%;
    background-image: linear-gradient(to left, #82039d, #7b00af, #6d00c1, #540dd6, #121ceb);
    opacity: .65;
}

.front {
    grid-area: 1 / 1 / 4 / 2;
    z-index: 1;
    width: 600px;
    margin: 30px auto;
}

@media only screen and (max-width: 640px) {
    .front {
        width: auto;
        margin-inline: 20px;
    }
}